.BttnsRegs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 80px;
    border: solid 2px;
    border-color: black;
    border-radius: 30%;
    cursor: pointer;
    background-color:white;
}
.RegsImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87%;
}
.Imgs{
    height: 73px;
    width: 48px;
    transform: rotate(7deg);
    overflow: hidden;
}

.RegsNome{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    height: 13%;
    font-size: 1.5vh;
}