    .cont-perfil-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .const-perfil {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }

    .form-perfil {
        display: flex;
        left: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }