.cont-login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}


.close-button {
    margin-bottom: 30rem;
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
    transition: .2s ease, color 0.2s ease;
}

.cont-login {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}


.cont-login a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.cont-login p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}




.cont-login button {
    background-color: var(--colorButton);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.cont-login button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.cont-login form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.cont-login input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.cont-forms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

    .form-login h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
    }

.form-login {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
    z-index: 2;
}

.cont-login.active .form-login {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.form-cadastro {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    z-index: 1;
}

.cont-login.active .form-cadastro {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
        ;
    }
}

.cont-toggle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition:  0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.cont-login.active .cont-toggle {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: var(--colorButton);
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-panel h1{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
}

.cont-login.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.cont-login.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.cont-login.active .toggle-right {
    transform: translateX(200%);
}

.button-toggle {
    background-color: #fff;
    border: 2px solid #fff;
}

.const-label-sexo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    
}

.label-sexo{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    padding: 0px 20px;
}

.alerta{
    border-radius: 20px;

    width: 25%;
    height: 60%;
    
}


