* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #4444;
}

.fundo{
    height: 100vh;
    width: 100%;
    background-image: url(fundorealista_2Ajustado.JPG);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 69vw;
    height: 64.5vh;
    position: fixed;
    top: 61.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.75%;

    gap: 1%;
}

/*--------------------------------------------*/

.cont-menu {
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 2px solid;

    height: 100%;
    width: 10%;
}

/*--------------------------------------------*/

.cont-areamap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    /* border: solid 1px; */
}
.cont-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;

    border: 3px solid black;
    border-radius: 7px;
    background-color: rgb(135, 205, 225, 1);
}
.cont-map > img {
    min-height: 355px;
    min-width: 236px;
    transform: rotate(7deg);
    padding-right: 12%;
}

/*--------------------------------------------*/

.conts-BttnRegs-RegListDados {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 65%;
    height: 100%;
    
}
.cont-BttnRegs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}
.button-regs{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    font-size: 1vw;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 255, 0);
    border: 0;


    cursor: pointer;
    
}
.cont-button-nort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    background-color: rgb(255, 203, 0, 1);
}
.cont-button-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    background-color: rgb(37, 39, 40, 1);
}
.cont-button-lest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    background-color: rgb(0, 168, 238, 1);
}
.cont-button-sul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    background-color: rgb(21, 187, 73, 1);
}
.conts-Reg-ListDados {
    display: flex;
    flex-direction: column;

    height: 90%;
    width: 100%;
}
/* .cont-Reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 10%;
    width: 100%;
    border: 2.5px solid black;
    font-size: 1.5vw;
} */
.conts-Lista-Dados{
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    padding-top: 0.5%;
    gap:0.25%;

    font-size: 1.25vw;
}
.cont-ListasTrilhas{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 40%;

    padding: 0.5%;
    gap: 1.5%;
    overflow-y: auto;
    border: 2.5px solid black;
    overflow-wrap: break-word;
    font-size: auto;
}
.divsBttnTrilha{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5%;

    min-height: 15%;
    width: 100%;
    
    border: 1px solid rgb(0, 0, 0, 1);
    cursor: pointer;
}
.contExt-DadosTrilha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    height: 100%;
    width: 60%;
    border: 2.5px solid black;
}
.cont-DadosTrilha-Inf {
    height: 45%;
    width: 100%;
    padding: 1%;
    /* border: 2.5px solid black; */
}
.dadosTrilha{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    padding: 0.5%;
    gap: 1%;

    font-size: 2.5vh;
    
}
.iconsDadosTrilha{
    height: 3.25vh;
    width: 3.25vh;
}
.conts-DadosTrilha-coment-fotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 45%;
    width: 100%;
    /* border: 2.5px solid black; */
}
.DadosTrilha-coment{
    height: 100%;
    width: 50%;
    border: 2.5px solid black;
}
.DadosTrilha-fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* border: 2.5px solid black; */
    
}
.DadosTrilha-fotos > img{
    height: 100%;
    width: 100%;
    border: 2.5px solid black;    
}

.cont-bttnCriarEvent{
    height: 10%;
    width: 100%;
    border: 2.5px solid black;
}
