* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-principal {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 10px;

}

.conts-inf-cadas-info-pro {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2%;


}

.conteiner-login_cadastro {
    border: 1px solid black;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    

}

.cont-info-projeto {
    border: 1px solid black;
    width: 100%;
    height: 70%;
    border-radius: 10px;

}

.cont-titulo-map-buttons-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.cont-titulo {
    height: 10%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;


}
.cont-map-buttons-infos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.cont-mapa {
    border: 1px solid black;
    height: 100%;
    width: 60%;
    border-radius: 5px;
}

.cont-buttons-infos{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    gap: 2%;

}
.cont-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    width: 100%;

}

.cont-button-nort {
    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;

}

.cont-button-center {
    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;

}

.cont-button-lest {
    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;
}

.cont-button-sul {
    border: 1px solid black;
    height: 100%;
    width: 24%;
    border-radius: 5px;
}

.cont-info{
    /* border: 1px solid black; */
    height: 90%;
    width: 100%;
    border-radius: 5px;
}
#cont-infoListTrilhas{
    border: 1px solid black;
    height: 80%;
    width: 100%;
    border-radius: 5px;
}
#ListTrilhas{
    display: flex;
    
    border: 5px solid rgb(0, 0, 0, 1);
    background-color: rgb(255, 0, 255, 0);

    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}
.cont-button-nomeTrilha{
    display: flex;

    border: 1px solid rgb(0, 0, 0, 0);
    background-color: rgb(211, 211, 211,0);
    cursor: pointer;
    min-width: 100px;

    justify-content: left;
    align-items: center;
}
#cont-infDadosTrilha{
    border: 1px solid black;
    height: 20%;
    width: 100%;
    border-radius: 5px;
}