/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.conteiner-cadastro{
    border: 1px solid;
    padding: 15px;
}

.conteiner-login{
    border: 1px solid;
    padding: 15px;
}