@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
      font-family: 'Trade Winds', cursive;

}

