.MenuPesq{
    display: flex;
    justify-content: center;
    height: 93px;
    width: 95%;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 1);
}






.Esq{
    height: 100%;
    width: 48.5%;
    background-color: palevioletred;
}



.Dir{
    display: flex;
    height: 100%;
    width: 48.5%;
}
.Dir-TdsReg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;    
}
.Dir-CdReg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    height: 100%;
    width: 65%;
}