.MenuPesq-cont{
    height: 93px;
    width: 1295px;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25% 1%;   
}



.Cont-esq{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.Esq-sup{
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
    
}
.Sup-esq{
    height: 100%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Sup-dir{
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Sup-dir-BttnPesq{
    height: 85%;
    width: 90%;

    border: solid 2px;
    border-color: black;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

.Esq-inf{
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;

}
.Inf-esq{
    height: 100%;
    width: 10%;
}
.Inf-esq-BttnFiltro{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    cursor: pointer;
    
    border: none;
    background-color: transparent;
}
.Inf-meio{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.25% 0%;  
}
.Inf-meio-FltrDT{
    height: 100%;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    

    border: solid 1px;
    border-color: black;
    border-radius: 7px;
    cursor: pointer;

}
.Inf-dir{
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.Inf-dir-FltrMN{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content:space-around;
    align-items: center;    

    border: solid 1px;
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
}



.Cont-dir{
    height: 100%;
    width: 50%;

    display: flex;
}
.Dir-CdReg {
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.Dir-TdsReg {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
