.MenuPesq {
    display: flex;
    justify-content: center;
    height: 93px;
    width: 95%;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 1);
}






.Esq {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 48.5%;
    /* background-color: palevioletred; */
}
.Esq-BarraPesq {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;
    /* background-color: aquamarine; */
}
.BarraPesq-Bttn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 20%;

    /* background-color: aqua; */
}
.Bttn-pesq {
    height: 75%;
    width: 90%;

    border: solid 1px;
    border-color: black;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

.Esq-Filtro {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 50%;
    width: 100%;
    /* background-color: azure; */
}
.Bttn-filtro {
    height: 75%;
    width: 10%;

    border: solid 1px;
    border-color: black;
    border-radius: 7px;
    cursor: pointer;
    /* background-color: white; */
}
.filtros{
    height: 75%;
    width: 70%;
    background-color: blue;
}



.Dir {
    display: flex;
    height: 100%;
    width: 48.5%;
}
.Dir-TdsReg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;

    /* background-color: maroon; */
}
.Dir-CdReg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;

    align-items: center;
    height: 100%;
    width: 80%;

    /* background-color: magenta; */
}