.CardsEvento{
    height: 100px;
}

.CardsTrilhasOff{
    height: 125px;
    width: 1295px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    border: solid 2px;
    border-color: black;
}