* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(49, 115, 49),rgb(35, 81, 31));
}

nav.conteiner_navbar {
    width: 80px;
    height: 100%;
    padding: 40px 0 40px 1%;
    background-image: linear-gradient(green, rgb(0, 255, 0));
    box-shadow: 3px 0 0 rgb(0, 84, 0);

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
}

nav.conteiner_navbar:hover{
    width: 300px;
    transition: 0.2s;
}

.conteiner_expandir {
    width: 100%;
    padding: 10px;
}

.conteiner_expandir>i {
    color: white;
    font-size: 35px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.2s;
}

ul li .ativo {
    background-color: green;
}

ul li.item-menu:hover {
    background-color: green;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li .item-menu a .icon>i {
    font-size: 30px;
}

.usuario {
    display: none;
    flex-direction: column;
    gap: 10px;
    border: solid 1px black;
    border-radius: 8px;
    background-image: linear-gradient(green, rgb(0, 255, 0));
    margin-left: 95px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 50px;
    color: white;
}

.perfil{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.minhasTri{
    cursor: pointer;
    color: white;
    flex-direction: column;
    display: none;
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.minhasTri:hover{
        
        width: 300px;
        transition: 0.2s;
        scale: 1.03;
}

.trilhas{
    display: none;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 95px;
    margin-right: 10px;
    background-color: rgb(12, 216, 63);
    padding: 50px;
}

