.cont-home {
    background-image: url('../../assets/img_home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh;
}