.Trilhas-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.Pag-filtro{
    display: flex;
    height: 20%;
    width: 100%;
}
.Filtro-pesq{
    height: 100%;
    width: 50%;
}
.Pesq-barra{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: antiquewhite;
}
.Barra-barra{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    background-color: pink;

}
.Barra-bttn{
    height: 100%;
    width: 20%;
    background-color: palevioletred;
}

.Pesq-filtro{
    height: 50%;
    width: 100%;
    background-color:dimgray;
}

.Filtro-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.1% 5%;
    height: 100%;
    width: 50%;
    background-color:purple;
}



.Pag-cards{
    height: 80%;
    background-color:coral;
}