.Trilha-cont{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Cont-cards{
    height: 100%;
    width: 1295px;
}

