.cont-navBar{
    display: flex;
    padding: 1rem;
    background-color: var(--colorNavBarOpacidade);
    border-radius: 20px;
    width: 98%;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    font-size: 32px;

}
.link{
    text-decoration: none;
    color: white;
}